/* Generic CSS for whole page */
body, html {
  height: 100%;
}

.center {
  text-align: center;
}

/* CSS for login.html page */
.login_main {
  display: flex;
  flex-direction: column;
}

.pic_container {
  background-image: url(https://source.unsplash.com/x7CDil50KKY);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

label {
  display: block;
  float: left;
  width: 6em;
}

input {
  display: block;
  width: 12em;
  margin-bottom: 1em;
}

.submit_fix {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* CSS for Sign up page */
.sign_up_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

/* CSS for Home Page */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}

.first_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 2px solid blue;
}