{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Book Ratings</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sign_out">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<section class='section_one'>

  <div class='section_div'>
    <p class='center div_paragraph'>Life is too short for reading inferior books.</p>
  </div>
  <div></div>
  <div></div>

  <div></div>
  <div class='section_div'>
    <p class='center div_paragraph'>There is an art of reading, as well as an art of thinking, and an art of writing.</p>
  </div>
  <div></div>

  <div></div>
  <div></div>
  <div class='section_div'>
    <p class='center div_paragraph'>No one ever committed suicide while reading a good book, but many have tried while trying to write one</p>
  </div>

</section>

<!-- Code for the main section --> 
<main class='grid'>

    <div class='box_shadow'>
      <h1 class='center'>Book Ratings</h1>
      <h5 class='center'>Background</h5>
      <p>
        This is a simple, quick project which will deal with book rating's data from Kaggle. The project will have three main aspects: 
        <ol>
          <li>Allow the user to see the top 5 books with highest ratings</li>
          <li>Allow the user to see the top 5 books with the lowest ratings</li>
          <li>Allow the user to see a rating for a book they choose</li>
        </ol>
      </p>
    </div>

    <div class='box_shadow'>
      <h1 class='center'>Look Up Book</h1>
      <h5 class='center'>Look up by book title</h5>
      <h6 class='center'>Type the book title the way it is on Amazon</h6>
      <form class='title_lookUp_div' id='book_look_up_form'>
        <label>Book Title: </label><input id='title' name='title' type='text'>
        <p>Result: <span id='result'>?</span></p>
        <button>Submit</button>
      </form>
    </div>

    <div class='box_shadow'>
      <h1 class='center'>Top 5 Highest Rated Books</h1>
    </div>

    <div class='box_shadow'>
      <h1 class='center'>Top 5 Lowest Rated Books</h1>
    </div>

</main>




{% endblock %}