{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Book Ratings</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sign_out">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Code for the main section --> 
<main class='grid'>

    <div>
      <h1 class='center'>Book Ratings</h1>
      <h5 class='center'>Background</h5>
      <p>
        This is a simple, quick project which will allow the user to look up a book rating. 
      </p>
    </div>

    <div>
      <h1 class='center'>Look Up Book</h1>
      <form>

      </form>
    </div>

</main>




{% endblock %}