{% extends 'base.html' %}

{% block body %}


<main class='login_main'>

  <div class='pic_container'>
  </div>

  <div class='login_container'>
    <div>
      <form method="POST">
        <label>Username: </label><input name='username' type='text'/>
        <label>Password: </label><input name='password' type='password'/>
        <div class='submit_fix'>
          <button><a href="/home">Login</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </form>
    </div>
  </div>

</main>


{% endblock %}