{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Book Ratings</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sign_up">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>


<main class='login_main'>

  <div class='pic_container'>
  </div>

  <div class='login_container'>
    <div>
      <!-- Error messaging -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
      <!-- End Error messaging -->
      <form method="POST">
        <label>Username: </label><input name='username' type='text'/>
        <label>Password: </label><input name='password' type='password'/>
        <div class='submit_fix'>
          <button><a class='a_tag_fix' href="/home">Login</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </form>
    </div>
  </div>

</main>


{% endblock %}